body {
  font-size: 2rem;
  /*background-color: #2954A9;*/
  font-family: 'Fira Sans', sans-serif;
}

nav {
  background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #2954a9;
  font-size: 1.5rem;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #f1ec15;
}

.navbar-light .navbar-toggler {
  border: none;
}

.modal {
  font-size: 1.1rem;
}
.form-control {
  border: 1px solid #ced4da00;
  border-bottom: 1px solid #dee2e6;
}
.btn-info, .btn-outline-info {
  background-color: #004085;
  border: none;
  color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.61);
}
.btn-info:hover, .btn-outline-info:hover {
  background-color: #FF7400;
  color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.61);
}


.carousel-inner {
  height: 70vh;
}

.centrado-vertical {
  position: absolute;
  top: -90px;
  height: 100vh;
}

.titulo_header {
  position: relative;
  top: 200px;
  left: 25%;
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(41, 90, 169, 0.165);
  display: inline-block;
  color: #fff;
  font-size: 4.5rem;
}
.subtitulo_header {
  position: relative;
  top: 200px;
  left: 60%;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  font-size: 2.5rem;
}

.naranja, a:hover {
  color: #FF7400;
}
a {
  color: #004085;
}

#descarga {
  color: #fff;
  background-color: #2954A9;
  padding: 5% 0;
}

.descarga {
  font-weight: 500;
}

.imagen-video {
  width: 90%;
}
.imagen-video:hover {
  background-color: #e9ecef26;
  border-radius: 2%;
}

.img-descarga {
  width: 35%;
}
.img-descarga:hover {
  background-color: #e9ecef26;
  border-radius: 2%;
  padding: 1%;
}

.descarga-texto {
  font-size: 1.7rem!important;
  padding: 6% 10%;
}

#registro {
  margin-bottom: 3%;
}
.registro1, .registro2 {
  padding: 90px  0;
}

.textos-registros {
  padding: 70px 100px 40px 0px;
  font-size: 1.2rem;
}

.img-registro {
  width: 35%;
  display: inline-block;
}
.img-registro2 {
  width: 33%;
  display: inline-block;
}

footer  {
  background-color: #2954A9;
  padding: 3% 1%;
  color: #fff;
}

.ayuda {
  font-size: 1rem;
  margin-bottom: 0;
}

@media (max-width: 492px) {
  .w-100 {
    height: 60vh!important;
  }
  .centrado-vertical {
    top: 0!important;
  }
  .titulo_header {
    font-size: 2.5rem!important;
  }
  .subtitulo_header {
    left: 40%!important;
    font-size: 1.5rem!important;
  }
  .carousel-inner {
    height: 60vh;
  }
  .descarga {
    padding-left: 28px;
  }
  .text-right {
    text-align: center!important;
  }
  .textos-registros {
    padding: 30px;
  }
  .descarga {
    padding-left: 0;
  }

}
